
.box__users_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 80%;
    height: 80px;
}
.box__users_text .items___text{
    padding: 0;
    margin: 0;
    display: flex;
}
.box__users_text .items___text b{
    width: 90px;
}
.box__users_text .items___text b,button{
    text-transform: capitalize;
}
.box__users_text .items___text pre{
    /* display: inline; */
    padding: 0;
    padding-top: 4px;
    margin: 0;
    overflow: auto;
}