:root{
    --bg-section:#cecece;
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    background: var(--bg-section);
    align-items: center;
}
.conteier{
    height: 100%;
    width: 80%;
    background: var(--bg-section);
    display: flex;
    justify-content: center;
    align-items: center;
}